<!DOCTYPE html>
<html>
<head>
    <title>CORS test</title>
</head>
<body>
    <h1><a href="/">Go to index</a></h1>
    <button onclick="shot()">start</button>
    <response></response>
    <script>
        const link = "{{{link}}}"
        function shot() {
            const output = document.querySelector("response")
            fetch(`${link}/test`, {
                method: 'GET',
                headers: { 'Content-Type': 'application/octet-stream' },
            })
            .then(blob => console.log(blob))
        }
    </script>

</body>
</html>
