<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="dns-prefetch" href="https://MovingJu.disqus.com" />
  <title>MovingJu</title>
  <link rel="stylesheet" href="/static/css/intro.css" />
  <link rel="stylesheet" href="/static/css/share_btn.css">
  <script src="/static/js/load_theme.js"></script>
  <script>load_theme();</script>
</head>

<body>
  <div class="mid-section-cover">
    <nav>
      <h1>MovingJu</h1>
      <ul>
        <li>
          <a href="/">
            Home
          </a>
        </li>
        <li>
          <a href="/intro">
            About My Project
          </a>
        </li>
        <li>
          <a href="/try_it_out">
            Try It Out!
          </a>
        </li>
        <li>
          <a href="mailto:movingju06@khu.ac.kr">
            Contact Me
          </a>
        </li>
      </ul>
    </nav>
    <main class="sub-mid-section-cover">
      <h2>방중 프로젝트</h2>
      <small></small>
      <p><strong>글쓴이</strong> : 이동주 (인공지능학과 25학번)</p>

      <p><a href="https://www.acmicpc.net/problem/1043"><img src="/image/baekjoon.png" alt="image" width="600"
            height="auto" style="display: block; margin: 0 auto;" href="https://www.acmicpc.net/problem/1043" /></a></p>

      <h1 id="문제">문제</h1>

      <ul>
        <li>번호 : 1043</li>
        <li>이름 : 거짓말</li>
        <li>난이도 : 골드 4</li>
        <li>링크 : <a href="https://www.acmicpc.net/problem/1043">baekjoon</a></li>
      </ul>

      <h1 id="문제-설명">문제 설명</h1>

      <p>지민이는 파티에 가서 이야기 하는 것을 좋아한다. 파티에 갈 때마다, 지민이는 지민이가 가장 좋아하는 이야기를 한다. 지민이는 그 이야기를 말할 때, 있는 그대로 진실로 말하거나 엄청나게 과장해서
        말한다. 당연히 과장해서 이야기하는 것이 훨씬 더 재미있기 때문에, 되도록이면 과장해서 이야기하려고 한다.</p>

      <p>하지만, 지민이는 거짓말쟁이로 알려지기는 싫어한다. 문제는 몇몇 사람들은 그 이야기의 진실을 안다는 것이다. 따라서 이런 사람들이 파티에 왔을 때는, 지민이는 진실을 이야기할 수 밖에 없다. 당연히,
        <strong>어떤 사람이 어떤 파티에서는 진실을 듣고, 또 다른 파티에서는 과장된 이야기를 들었을 때도 지민이는 거짓말쟁이로 알려지게 된다.</strong> 지민이는 이런 일을 모두 피해야 한다.
      </p>

      <p>사람의 수 N이 주어진다. 그리고 그 이야기의 진실을 아는 사람이 주어진다. 그리고 각 파티에 오는 사람들의 번호가 주어진다. 지민이는 모든 파티에 참가해야 한다. 이때, 지민이가 거짓말쟁이로
        알려지지 않으면서, 과장된 이야기를 할 수 있는 파티 개수의 최댓값을 구하는 프로그램을 작성하시오.</p>

      <hr />

      <h1 id="풀이">풀이</h1>

      <p>예제 입력만으론 정확하게 문제를 풀기 어려워 보인다. 자세히 소개해보고자 한다.</p>

      <p>예를 들어,</p>

      <div class="language-yml highlighter-rouge">
        <div class="highlight">
          <pre class="highlight"><code><span class="s">5 </span><span class="m">4</span>
<span class="s">1 </span><span class="m">1</span>
<span class="s">2 4 </span><span class="m">5</span>
<span class="s">2 2 </span><span class="m">4</span>
<span class="s">2 2 </span><span class="m">3</span>
<span class="s">2 1 </span><span class="m">3</span>
</code></pre>
        </div>
      </div>
      <p>이 경우 지민이가 허풍을 떨 수 있는 파티는 몇개일까?</p>

      <details>
        <summary><strong>정답</strong></summary>
        <p><strong>0개 이다.</strong></p>
        <p>맨 마지막 줄에서 1이 3에게 진실 전파, 3이 2에게 전파, 2가 4에게 전파, 4가 5에게 전파한다.</p>
      </details>

      <p>이상.</p>


      <div class="post-footer">

        <div>

          <span>Share on: </span>
          <div id="share-buttons">
            <div class="facebook" title="Share this on Facebook"
              onclick="window.open('http://www.facebook.com/share.php?u=http://localhost:4000/algorithm/2025/07/28/algorithm-_baekjun_1043.html');">
              <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M1343 12v264h-157q-86 0-116 36t-30 108v189h293l-39 296h-254v759h-306v-759h-255v-296h255v-218q0-186 104-288.5t277-102.5q147 0 228 12z" />
              </svg></div>
            <div class="twitter" title="Share this on Twitter"
              onclick="window.open('http://twitter.com/home?status=http://localhost:4000/algorithm/2025/07/28/algorithm-_baekjun_1043.html');">
              <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M1684 408q-67 98-162 167 1 14 1 42 0 130-38 259.5t-115.5 248.5-184.5 210.5-258 146-323 54.5q-271 0-496-145 35 4 78 4 225 0 401-138-105-2-188-64.5t-114-159.5q33 5 61 5 43 0 85-11-112-23-185.5-111.5t-73.5-205.5v-4q68 38 146 41-66-44-105-115t-39-154q0-88 44-163 121 149 294.5 238.5t371.5 99.5q-8-38-8-74 0-134 94.5-228.5t228.5-94.5q140 0 236 102 109-21 205-78-37 115-142 178 93-10 186-50z" />
              </svg></div>
            <div class="linkedin" title="Share this on Linkedin"
              onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&url=http://localhost:4000/algorithm/2025/07/28/algorithm-_baekjun_1043.html&title=&summary=&source=');">
              <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M477 625v991h-330v-991h330zm21-306q1 73-50.5 122t-135.5 49h-2q-82 0-132-49t-50-122q0-74 51.5-122.5t134.5-48.5 133 48.5 51 122.5zm1166 729v568h-329v-530q0-105-40.5-164.5t-126.5-59.5q-63 0-105.5 34.5t-63.5 85.5q-11 30-11 81v553h-329q2-399 2-647t-1-296l-1-48h329v144h-2q20-32 41-56t56.5-52 87-43.5 114.5-15.5q171 0 275 113.5t104 332.5z" />
              </svg></div>

            <div class="mail" title="Share this through Email"
              onclick="window.open('mailto:?subject=Hey Checkout this Amazing Blog I Found&body=http://localhost:4000/algorithm/2025/07/28/algorithm-_baekjun_1043.html');">
              <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M1792 710v794q0 66-47 113t-113 47h-1472q-66 0-113-47t-47-113v-794q44 49 101 87 362 246 497 345 57 42 92.5 65.5t94.5 48 110 24.5h2q51 0 110-24.5t94.5-48 92.5-65.5q170-123 498-345 57-39 100-87zm0-294q0 79-49 151t-122 123q-376 261-468 325-10 7-42.5 30.5t-54 38-52 32.5-57.5 27-50 9h-2q-23 0-50-9t-57.5-27-52-32.5-54-38-42.5-30.5q-91-64-262-182.5t-205-142.5q-62-42-117-115.5t-55-136.5q0-78 41.5-130t118.5-52h1472q65 0 112.5 47t47.5 113z" />
              </svg></div>
          </div>
        </div>

      </div>

      <hr>
      <div id="disqus_thread"></div>
      <script src="/static/js/disqus.js"></script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
          powered by Disqus.</a></noscript>


    </main>
  </div>


  <!-- 기존 스크립트들, defer 유지 -->
  
</body>

</html>